<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="personal.blog.dao.business.IUserDao">
    <resultMap type="personal.blog.vo.User" id="userResultMap">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getUser" parameterType="String" resultType="personal.blog.vo.User" resultMap="userResultMap">
        <![CDATA[
            SELECT * FROM tbl_user
            WHERE user_name =  #{userName}
        ]]>
    </select>

    <insert id="insertUser" parameterType="personal.blog.vo.User">
        INSERT INTO tbl_user(ID,user_name,password)
        VALUES(
        #{id},
        #{username},
        #{password}
        )
    </insert>
</mapper>