@charset "utf-8";
.header-container-wrapper{
    height: 550px;
    background-image: url("../images/bannert.jpg");
}

.header-container{
    margin: 0 auto;
    color: white;
    font-size: 16px;
    padding: 0 20px;
    background-color: black;
    opacity: 0.7;
}

.header-container .navigate-container{
	width: 1100px;
	margin: 0 auto;
	height: 65px;
}

 .header-container .left-area{
    float: left;
    height: 65px;
    vertical-align: middle;
}

.header-container .right-area{
    float: right;
    line-height: 65px;
}

.header-container .left-area  ul{
    list-style: none;
    margin: 0 auto;
}

.header-container .left-area li{
    float: left;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

.header-container .left-area li.first span{
	margin-left: 0;
}

.header-container .left-area li span{
    cursor: pointer;
    margin: 0 40px;
    display: inline-block;
}

.body-container{
    margin-top: 25px;
}

.body-container .content-container{
    width: 1100px;
    margin: 0 auto;
}

.content-container .left-area{
	width: 280px;
	float: left;
}

.content-container .personal-info{
	height: 350px;
	background-color: white;
	margin-bottom: 20px;
}

.content-container .personal-info .photo{
    margin: 0 auto;
    width: 120px;
    padding-top: 30px;
    text-align: center;
}

.content-container .personal-info .photo img{
    border-radius: 50%;
}

.content-container .personal-info .name{
	text-align: center;
	padding-top: 10px;
	color: #333;
}

.content-container .personal-info .address{
	text-align: center;
	padding: 10px 0;
	color: #999;
}

.content-container .personal-info .mark{
	padding: 20px;
	color: #999;
	line-height: 30px;
}

.content-container .article-area{
	background-color: white;
	color: #666;
}

.content-container .article-area .title{
	padding: 20px 0 0 20px;
	font-size: 16px;
	font-weight: bold;
}

.content-container .article-area .title i{
	font-weight: normal;
	color: #999;
}

.content-container .article-area .content{
	padding: 10px 0;
}

.content-container .article-area .content li{
    height: 40px;
    padding-left: 40px;
    cursor: pointer;
    line-height: 40px;
    border-left: 2px solid white;
}

.content-container .article-area .content li:hover{
	background-color: #f5f5f5;
	border-left: 2px solid green;
}

.content-container .article-area .content li.article-hover{
    background-color: #f5f5f5;
    border-left: 2px solid green;
}
        
.line{
	height: 1px;
	background-color: rgb(231,231,231);
	margin: 0 20px;
	width: inherit;
}

.content-container .right-area{
	margin-left: 20px;
	width: 800px;
	float: left;
}

.content-container .article-item{
	width: 800px;
	background-color: white;
	border-top: 2px solid green;
	margin-bottom: 20px;
	color: #999;
}

.content-container .article-item .title{
	font-size: 18px;
	margin: 20px 0 20px 20px;
	color: #333;
}

.content-container .article-item .line{
	margin: 0 0 20px 0;
	border-bottom: 1px dotted #999;
	height: 0;
}

.content-container .article-content{
	line-height: 35px;
	margin: 10px 20px 10px 20px;
}

.ap-area .article-ap-la{
	float: left;
	margin: 0 0 20px 20px;
}

.ap-area .article-ap-ra{
	float: right;
	margin-right: 20px;
}

.footer-container-wrapper{
    background-color: #41662e;
    color: #ffffff;
    font-size: 12px;
}

.footer-container{
    width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container .site-append-info{
    float: left;
}

.footer-container .site-append-info .bottom-menu{
    float: left;
    line-height: 12px;
    margin-right: 10px;
}

.footer-container .site-append-info .static-area{
    float: left;
}

.footer-container .falv-info{
    float: right;
}

.about-content-container{
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: -80px;
    border: 1px solid #999999;
}

.about-content-container .photo{
    text-align: center;
    width: 1000px;
    margin-top: 30px;
}

.about-content-container .photo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.about-content-container .self-note{
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.about-content-container .self-note .content{
    font-family:STLiti;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    width: 700px;
}

.about-content-container .self-note .sign{
    font-size: 16px;
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #666666;
}

.about-content-container .self-note .red-line{
    width: 100px;
    margin: 100px auto 0;
    border-top: 2px solid red;
}

.about-content-container .intro-container{
    height: 200px;
    display: table;
    width: 80%;
    margin:80px auto 0 auto;
}

.about-content-container .child-div{
    display: table-cell;
}

.about-content-container .child-div .v-line{
    width: 280px;
    padding-bottom: 5px;
    color: #666666;
}

.about-content-container .child-div .title{
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

