@charset "utf-8";

.photo-home-body-wapper{
    background-image: url("/images/photos.jpg");
}
.photo-home-body{
    width: 1100px;
    margin: 0 auto;
    height: 832px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
}

.photo-home-body a{
    display: inline-block;
    height: 264px;
    width: 436px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -218px;
    margin-top: -132px;
}

.p-right-area{
    float: right;
    margin-left: 20px;
    width: 800px;
    padding-bottom: 240px;
}

.p-right-area .line-item{
    height: 240px;
}

.p-right-area .line-item .rl{
    width: 350px;
    background-color: white;
    float: left;
    position: relative;
}

.p-right-area .line-item .rm{
    width: 100px;
    float: left;
}

.p-right-area .line-item .rr{
    width: 350px;
    background-color: white;
    float: right;
    position: relative;
}

.p-right-area .navigate-v-line{
    height: 240px;
    float: left;
    width: 74px;
}

.p-right-area .navigate-v-line p{
    text-align: center;
    color: #9bc456;
    font-size: 20px;
}

.p-right-area .navigate-v-line i{
    cursor: pointer;
}

.p-right-area .navigate-v-line p:first-child{
    margin-top: 35px;
}

.p-right-area .v-line{
    margin: 0 auto;
    width: 2px;
    background-color: #9bc456;
}

.height-top{
    height: 130px;
}

.height-middle{
    height: 45px;
}

.height-bottom{
    height: 35px;
}

.p-right-area .line-item .triangle-right{
    margin-top: 30px;
}

.p-right-area .line-item .triangle-left{
    margin-top: 180px;
}

.p-right-area .line-item .img-p{
    height: 224px;
    width: 330px;
    overflow: hidden;
    margin: 10px;
}

.p-right-area .line-item img{
    width:100%; 
    max-width:100%; 
    overflow: hidden;
}

.p-right-area .line-item .opacity-lay{
    background-color: black;
    opacity: 0.5;
    height: 224px;
    width: 330px;
    position: absolute;
    display: none;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.p-right-area .line-item .opacity-lay p{
    margin: 8px;
    color: white;
    font-weight: bold;
}

