@charset "utf-8";
.header-container-wrapper{
    background-color: #9bc456;
}

.header-container{
    width: 1180px;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    padding: 5px 0;
}

.header-container .left-area{
    float: left;
}

.header-container .right-area{
    float: right;
}

.body-container{
    min-height: 860px;
}

.body-container .navigate-container{
    height: 380px;
    background-position: 0px 380px;
}

.body-container .navigate-container ul{
    list-style: none;
    width: 1180px;
    margin: 0 auto;
    padding-top: 330px;
}

.body-container .navigate-container li{
    float: left;
    font-size: 20px;
    /*width: 196px;*/
    text-align: center;
    color: #41662e;
    font-weight: bold;
}

.body-container .navigate-container li.middle{
    margin: 0 105px;
}

.body-container .navigate-container li span{
    cursor: pointer;
}

.body-container .content-container{
    width: 1180px;
    margin: 0 auto;
    padding: 10px;
}

.footer-container-wrapper{
    background-color: #41662e;
    color: #ffffff;
    font-size: 12px;
}

.footer-container{
    width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container .site-append-info{
    float: left;
}

.footer-container .site-append-info .bottom-menu{
    float: left;
    line-height: 12px;
    margin-right: 10px;
}

.footer-container .site-append-info .static-area{
    float: left;
}

.footer-container .falv-info{
    float: right;
}