@charset "utf-8";
.header-container{
    height: 40px;
    width: 1180px;
    margin: 0 auto;
}

.header-container-wrapper{
    background-color: #9bc456;
}

.body-container{
    min-height: 860px;
}

.body-container .navigate-container{

}

.body-container .content-container{
    width: 1180px;
    margin: 0 auto;
    padding: 10px;
}

.footer-container-wrapper{
    background-color: #41662e;
    color: #ffffff;
    font-size: 12px;
}

.footer-container{
    width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container .site-append-info{
    float: left;
}

.footer-container .site-append-info .bottom-menu{
    float: left;
    line-height: 12px;
    margin-right: 10px;
}

.footer-container .site-append-info .static-area{
    float: left;
}

.footer-container .falv-info{
    float: right;
}