@charset "utf-8";
.header-container-wrapper{
    background-color: #9bc456;
}

.header-container{
    margin: 0 auto;
    color: white;
    font-size: 16px;
    padding: 0 20px;
}

.header-container .left-area{
    float: left;
}

.header-container .right-area{
    float: right;
    line-height: 86px;
}

.header-container .left-area .navigate-container ul{
    list-style: none;
    margin: 0 auto;
}

.header-container .left-area .navigate-container li{
    float: left;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 20px 0;
}

.header-container .left-area .navigate-container li:hover{
	background-color: #ffffff;
	color: gray;
}

.header-container .left-area .navigate-container li.middle{
    /* margin: 0 35px; */
}

.header-container .left-area .navigate-container li span{
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
}

.body-container{
    min-height: 860px;
}

.body-container .content-container{
    width: 1180px;
    margin: 0 auto;
    padding: 10px;
}

.footer-container-wrapper{
    background-color: #41662e;
    color: #ffffff;
    font-size: 12px;
}

.footer-container{
    width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container .site-append-info{
    float: left;
}

.footer-container .site-append-info .bottom-menu{
    float: left;
    line-height: 12px;
    margin-right: 10px;
}

.footer-container .site-append-info .static-area{
    float: left;
}

.footer-container .falv-info{
    float: right;
}